.container{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
}

.container div{
    border: 1px solid;
}

.head{
    order: 0;
    flex: 1 1 100%;
    text-align: center;
}

.vids{
    order: 2;
    flex: 1 1 20%;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}
.container nav{
    order: 1;
    flex: 1 1 100%;
    text-align: right;
    align-items: flex-end;
}

.menu div  {
    flex:1 1 100%;
    text-align: left;
    border: none;
}

video{
    width: 100%;
}
.info{
    order: 3;
    flex: 1 1 50%;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}
.music{
    order: 4;
    flex: 1 1 20%;
    text-align: center;
    margin-top: 10px;
}
audio{
    width: 100%;
}
a{
    text-decoration: none;
}
.galery{
    order: 5;
    flex: 1 1 100%;
    margin-top: 10px;
}
.galery h4{
    text-align: center;
    margin-top: 0 ;
    margin-bottom: 10px;
}
.galery figure{
    width: 35%;
    margin-left: 60px;
    float: left;

}
.galery figure img{
    width: 100%;

}
.galery figcaption{
    text-align: center;
}