
$border:1px solid;
$dsinline:inline-block;
$flleft:left;
$flright:right;
$textalcent:center;
$textalleft:left;

$heightbig:50px;
$heightsmall:30px;

$imgheight:100%;
$imgwidth:100%;

$margrightbig:20px;
$margleftbig:20px;
$margtopbig:20px;

$margtopsmall:10px;
$margrightsmall:10px;
$margbottomsmall:10px;
$margleftsmall:10px;

$rightptwidth:38.4%;
$contleftwidth:60%;
$fullwidth:100%;
$headhight:30px;

$figureheight:100px;
$figurewidth:100px;

$fsizebg:20pt;
$fsizesml:16pt;

$heightt:200px;
$heightc: 100px;