@import '_variables.scss';

header{
    border: $border;
    height: $heightbig;
}

h5{
    display: inline;
}

header div{
    text-align: $textalcent;
    display: $dsinline;
    border: $border;
    height: 80%;
    width: 200px;
    margin-left: $margleftbig;
    margin-top: 5px;
}
header div img{
    height: $imgheight;
    width: $imgwidth;
    margin-bottom: 50px;
}
nav{
    float:$flright;
    margin-right: $margrightbig;
}
nav li{
    list-style-type: none;
    display: $dsinline;
    border: $border;
    width: 100px;
    text-align: $textalcent;
    margin-left: 5px;
}
nav a {
    text-decoration: none;
}
.container1{
    float: $flleft;
    margin-top: $margtopbig;
    margin-left: 0;
    width: $contleftwidth;
}
.container1 p{
    display: inline;
}
.container1 div{
    border: $border;
}
.head{
    display: $dsinline;
    width: $fullwidth;
    margin-left: 0;
    margin-top: 0;
    height: $headhight;
    text-align: $textalcent;
}
.t1, .t2, .t3{
    margin-top:$margtopbig;
    height: 200px;
    width: 250px;
    overflow: hidden;
}
.t1{
    float: $flleft;
}
.t2{
    display: $dsinline;
    margin-left: $margleftbig*4;
}
.t3{
    float: $flright;
}
form{
    float:$flright;
    border: $border;
    margin-top: $margtopbig;
    margin-left: $margleftbig;
    width: $rightptwidth;
    height: auto;
}
form h5{
    margin-left: $margleftsmall;
}
input{
    display: $dsinline;
}
.butbut{
    margin-right: $margrightsmall;
}
label{
    display: $dsinline;
    vertical-align: top;
    text-align: left;
    margin-right: $margrightsmall;
    width: 100px;
}
form p{
    margin-left: $margleftsmall;
}
.headlf{
    display: $dsinline;
    border: $border;
    text-align: $textalcent;
    margin-top: $margtopsmall;
    margin-left: $margleftbig;
    height: $headhight;
    width: $rightptwidth;
}

.container2{
    float: $flright;
    border: $border;
    margin-top: $margtopsmall;
    margin-left: $margleftsmall;
    width: $rightptwidth;
}
.container2 p{
    display: inline;
}
.container2 figure{
    border: $border;
    height: 100px;
    width: 100px;
}
.container2 figure img{
    height: $imgheight;
    width: $imgwidth;
}
.c1, .c2{
    float: $flright;
    border: $border;
    width: $contleftwidth;
    margin-right: $margrightbig;
    height: 100px;
}
.c1{
    margin-top: 16px;
}
.container3{
    display: $dsinline;
    width: $contleftwidth;
    margin-top: $margtopbig;
}
.container3 figure{
    float: $flleft;
    border: $border;
    height: 160px;
    width: 160px;
    margin-right: 0;
    margin-left: 50px;
}
.container3 figure img{
    height: $imgheight;
    width: $imgwidth;
}
.head3{
    display: $dsinline;
    border: $border;
    width: $fullwidth;
    height: $headhight;
    text-align: $textalcent;
}

footer{
    display: flex;
    align-items: center;
    border: $border;
    margin-top: 40px;
    height: $heightbig;
}
footer span{
    margin-left: 15px;
}