$border:1px solid;
$heightbig:50px;
$heightsmall:30px;
$dsinline:inline-block;
$flleft:left;
$flright:right;
$textal:center;
$imgheight:100%;
$imgwidth:100%;

$margrightbig:20px;
$margleftbig:20px;
$margtopbig:20px;

$margtopsmall:10px;
$margrightsmall:10px;
$margbottomsmall:10px;

$rightptwidth:38.4%;
$contleftwidth:60%;
$fullwidth:100%;
$headhight:30px;

$figureheight:100px;
$figurewidth:100px;
