.container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: flex-start;
  justify-content: center;
}

.container div {
  border: 1px solid black;
  margin: 15px;
}

.logo {
  width: 20%;
  height: 70%;
  margin-bottom: 10px;
}