header{
    border: 1px solid;
    height: 50px;
}
header div{
    display: inline-block;
    border: 1px solid;
    height: 80%;
    width: 200px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
}
header div img{
    height:45px;
    width: 100px;
    margin-bottom: 50px;
}
nav{
    float: right;
    margin-right: 20px;
}
nav li{
    list-style-type: none;
    display: inline-block;
    border: 1px solid;
    width: 100px;
    text-align: center;
    margin-left: 5px;
}
nav a{
    text-decoration: none;
}
.container1{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
    border: 1px solid black;
    /* border: none; */
}
.container1 div{
    border: 1px solid ;
}
.head{
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    height: 30px;
}

.t1 , .t2 , .t3{
    margin-top: 20px;
    height: 200px;
    width: 250px;
}
.t1{
    float: left;
}
.t2{
    display: inline-block;
}
.t3{
    float: right;
}
form{
    border: 1px solid;
}