td{
    border: 1px solid black;
    border-collapse: collapse;
    text-indent: 0%;
    text-align: center;
}
td:first-child{
    background-color: rgb(230, 100, 100);
}
tr:first-child{
    background-color: aqua;
}
.nonesence{
    background: linear-gradient(to bottom,aqua,aqua);
}
tr:nth-child(7) td, tr:nth-child(10) td{
    background-color: white;
}