table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0;
}
tr:first-child td:first-child,tr:first-child td:last-child,tr:last-child td:first-child,tr:last-child td:last-child{
    empty-cells: hide;
    height: 20px;
    width: 20px;
}
tr:first-child td,tr:last-child td{
    height: 20px;
    background-color: lightgray;
    border: 1px solid black;
}
tr td:last-child,tr td:first-child{
    width: 20px;
    height: auto;
    background-color: lightgray;
    border: 1px solid black;
}
td{
    height: 50px;
    width: 50px;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}
tr:nth-child(even) td:first-child,tr:nth-child(odd) td:last-child,tr:first-child td:nth-child(even),tr:last-child td:nth-child(odd){
    background-color: lightgray;
}

